<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RPSourceURLReplace" value="http://www.rightprospectus.com/documents/"/>
    <add key="RPDestinationSANReplace" value="\\ecomad.int\webdfstest\RightProspectus\Workfiles\WebDocuments\"/>
    <add key="RPBCSSANPath" value="\\ecomad.int\webdfstest\RightProspectus\Workfiles\WebDocuments\BCSRRD\"/>
    <add key="RPDestinationURLReplace" value="http://rightprospectus-test.rightprospectus.com/documents/BCSRRD/"/>
    <add key="HiQPDFSerialNumber" value="wIipkZCk-poyporKh-srn27vDg-8eDy4Pj4-9ODz8e7x-8u75+fn5" />
    <add key="PDFWorkflowTimeOutDuration" value="15000" />
    <add key="LogDirectory" value="\\ecomad.int\webdfstest\RightProspectus\Workfiles\InternalDocuments\BCSRRD\Logs\"/>
    <add key="LogFileName" value="BCS_DocUpdateValidationService_Log.txt"/>
    <add key="EmailFrom" value="support@prospectuscentral.com"/>
    <add key="ConfirmationEmailListTo" value="noel.g.dsouza@rrd.com;anand.panse@rrd.com;sampathkumar.gajawada@rrd.com"/>
    <add key="BCSDocUpdateValidationReportEmailSub" value="BCS Document Update Validation - Duplicate CUSIP Report"/>
    <add key="TimerInterval" value="120000"/>
    <add key="SMTP" value="mail.rrd.com"/>
    <add key="BCSExceptionEmailListTo" value="noel.g.dsouza@rrd.com;anand.panse@rrd.com;sampathkumar.gajawada@rrd.com"/>
    <add key="BCSExceptionEmailSub" value="BCS Exception Notification"/>
    <add key="BCSEdgarDocUpdateValidationReportEmailSub" value="Edgar Doc Update Validation Report"/>
    <add key="BCSEdgarDocUpdateValidationReportEmailListTo" value="noel.g.dsouza@rrd.com;anand.panse@rrd.com;sampathkumar.gajawada@rrd.com"/>
    <add key="BCSDocUpdateSECValidationReportEmailSub" value="BCS Doc Update SEC Details Validation Report"/>
    <add key="BCSDocUpdateSECValidationReportEmailListTo" value="noel.g.dsouza@rrd.com;anand.panse@rrd.com;sampathkumar.gajawada@rrd.com"/>
    <add key="BCSDocUpdateUIURL" value="http://rpingestor-test/BCSDocUpdateApproval/BCSRemoveDuplicateCUSIP.aspx"/>

    
    <add key="BCSSLINKNotAvailableReportEmailSub" value="Slink Zip File Missing Report"/>
    <add key="BCSSLINKNotAvailableReportEmailListTo" value="noel.g.dsouza@rrd.com;anand.panse@rrd.com;sampathkumar.gajawada@rrd.com"/>

    <add key="SleepTimeAfterResettingClients" value="360000"/>
    <add key="TimeFromResetFilingsPendingToBeProcessed" value="13:56:00"/>
    <add key="TimeToResetFilingsPendingToBeProcessed" value="13:59:00"/>



    <add key="TimeFromProcessNewlyAddedOrModifiedCUSIP" value="14:22:00"/>
    <add key="TimeToProcessNewlyAddedOrModifiedCUSIP" value="14:24:00"/>


    <add key="TimeFromGetAllOlderSPInFLModeAndReplaceWithP" value="14:15:00"/>
    <add key="TimeToGetAllOlderSPInFLModeAndReplaceWithP" value="14:18:00"/>

    <add key="TimeFromUpdateDequeueStatusForNewAddedCUSIPS" value="08:00:00"/>
    <add key="TimeToUpdateDequeueStatusForNewAddedCUSIPS" value="08:05:00"/>


    <add key="ErrorSleepTime" value="180000"/>
    <add key="AppEnvironment" value="Test"/>
    <add key="GatewayGoldPdfRepository" value="\\RRWIN-RPIAT1\BCSGateway\Janney\Test\GoldPdfRepository\" />
    <add key="TimeFromARSARFilingsPendingToBeProcessed" value="12:59:00"/>
    <add key="TimeToARSARFilingsPendingToBeProcessed" value="13:04:00"/>

    <add key="UpdateAPCOPCReceivedDateTimeInterval" value="1200000"/>

    <add key="WatchlistFailureNotificationEmailSubject" value="CustomerName – WatchList File – Missed SLA"/>
    <add key="CustDocUPDTFailureNotificationEmailSubject" value="CustomerName – Doc Update (IP) File – Missed SLA"/>

    <add key="WatchlistFailureNotificationEmailTo" value="anand.panse@dfsco.com"/>
    <add key="CustDocUPDTFailureNotificationEmailTo" value="anand.panse@dfsco.com"/>
    
  </appSettings>
  <connectionStrings>
    <add name="DB1029Connection" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=acwin-sqlt01.ecomad.int\sql003;Initial Catalog=db1029"/>
    <add name="ReadOnlyDB1029Connection" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=acwin-sqlt01.ecomad.int\sql003;Initial Catalog=db1029"/>
    <add name="HostedAdminConnection" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=acwin-sqlt01.ecomad.int\sql003;Initial Catalog=HostedAdmin"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPreflightLinkWCF" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webit.rrd.com/PreflightLinkWCF/PreflightLinkWCF.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPreflightLinkWCF"
          contract="PreflightLinkWCF.IPreflightLinkWCF" name="BasicHttpBinding_IPreflightLinkWCF" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
