<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppEnvironment" value="Test"/>
    <add key="FTPUserID" value="ContentDelivery"/>
    <add key="FTPUserPassword" value="BeR7h3PT"/>
    <add key="GatewayFTPPath" value="ftp://ftp.rrd.int/GIM/Gateway/"/>    
    <add key="WorkingDirectory" value="\\RRWIN-RPIAT1\BCSGateway\Janney\Test\" />
    <add key="FTPLogPath" value="ftp://ftp.rrd.int/GIM/CSR/Test/LogFiles/" />    
    <add key="SMTP" value="mail.rrd.com"/>
    <add key="EmailFrom" value="support@prospectuscentral.com"/>
    <add key="BCSExceptionEmailListTo" value="BCSExceptionNotification@prospectuscentral.com"/>
    <add key="BCSExceptionEmailSub" value="BCS Exception Notification"/>
    <add key="ErrorSleepTime" value="180000"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
