<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CommandTimeOutInSeconds" value="600"/>
    <add key="AppEnvironment" value="Test"/>    
    <add key="TimerInterval" value="120000"/>
    <add key="SMTP" value="mail.rrd.com"/>
    <add key="EmailFrom" value="Donotreply@rrd.com"/>
    <add key="ConfirmationEmailListTo" value="BCSWatchListFileNotifications@prospectuscentral.com"/>
    <add key="BCSExceptionEmailListTo" value="BCSWatchListFileExceptions@prospectuscentral.com"/>
    <add key="BCSExceptionEmailSub" value="CUSIP WatchList- FTP Notification"/>
    <add key="LogDirectory" value="\\ecomad.int\webdfstest\RightProspectus\WorkFiles\InternalDocuments\BCS\Logs\"/>
    <add key="LogFileName" value="BCSWatchListIntegrationService_Log.txt"/>    
    <add key="ErrorSleepTime" value="180000"/>    
    <add key="WatchListReportLocation" value="http://rpingestor/FirstDollarReports/SelectReport.aspx?ClientName="/>
    
  </appSettings>
  <connectionStrings>
    <add name="DB1029Connection" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=ACWIN-SQLT01\SQL003;Initial Catalog=db1029"/>
    <add name="ReadOnlyDB1029Connection" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=ACWIN-SQLT01\SQL003;Initial Catalog=db1029"/>
    <add name="HostedAdminConnection" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=ACWIN-SQLT01\SQL003;Initial Catalog=HostedAdmin"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
