<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RPSourceURLReplace" value="http://www.rightprospectus.com/documents/"/>
    <add key="RPDestinationSANReplace" value="\\ecomad.int\webdfsprod\RightProspectus\Workfiles\WebDocuments\"/>
    <add key="RPBCSSANPath" value="\\ecomad.int\webdfstest\RightProspectus\Workfiles\WebDocuments\BCSQA\"/>
    <add key="RPDestinationURLReplace" value="http://rightprospectus-test.rightprospectus.com/documents/BCSQA/"/>
    <add key="HiQPDFSerialNumber" value="wIipkZCk-poyporKh-srn27vDg-8eDy4Pj4-9ODz8e7x-8u75+fn5" />
    <add key="PDFWorkflowTimeOutDuration" value="15000" />   
    <add key="LogDirectory" value="\\ecomad.int\webdfstest\RightProspectus\Workfiles\InternalDocuments\BCS\Logs\"/>
    <add key="LogFileName" value="BCS_DocUpdateSlinkIntegrationService_Log.txt"/>
    <add key="EmailFrom" value="support@prospectuscentral.com"/>
    <add key="ConfirmationEmailListTo" value="sergey@prospectuscentral.com"/>
    <add key="BCSDocUpdateSlinkIntegrationServiceEmailSub" value="BCSDocUpdateSlinkIntegrationService"/>
    <add key="BCSDocUpdateFileUploadedEmailSub" value="DocUpdate Files Uploaded"/>
    <add key="TimerInterval" value="120000"/>
    <add key="SMTP" value="mail.rrd.com"/>
    <add key="AppEnvironment" value="Test"/>
    <add key="TimeFromRunSLinkDocUpdate" value="2:01 AM"/>
    <add key="TimeToRunSLinkDocUpdate" value="2:20 AM"/>
    <add key="TimeFromRunPreflight" value="12:01 AM"/>
    <add key="TimeToRunPreflight" value="12:20 AM"/>
    <add key="SleepTimeAfterResettingClients" value="1200000"/>
    <add key="SMTP" value="mail.rrd.com"/>
    <add key="BCSExceptionEmailListTo" value="BCSExceptionNotification@prospectuscentral.com"/>
    <add key="BCSExceptionEmailSub" value="BCS Exception Notification"/>
    <add key="ErrorSleepTime" value="180000"/>
  </appSettings>
  
  <connectionStrings>
    <add name="DB1029Connection" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=acwin-sqlt01.ecomad.int\sql003;Initial Catalog=db1029"/>
    <add name="ReadOnlyDB1029Connection" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=ACWIN-DLSDBV04.ecomad.int;Initial Catalog=db1029"/>
    <add name="HostedAdminConnection" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=acwin-sqlt01.ecomad.int\sql003;Initial Catalog=HostedAdmin"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPreflightLinkWCF" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webit.rrd.com/PreflightLinkWCF/PreflightLinkWCF.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPreflightLinkWCF"
          contract="PreflightLinkWCF.IPreflightLinkWCF" name="BasicHttpBinding_IPreflightLinkWCF" />
    </client>
  </system.serviceModel>
</configuration>