<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <!-- Start : Request Material Print Request Config settings-->
    <add key="PrintRequest_Environment" value="Stage"/>
    <add key="PrintRequest_LogFileDir" value="\\ecomad.int\webdfsstage\RightProspectus\Workfiles\InternalDocuments\PrintRequests\RPV2\ClientName\Logs\" />
    <add key="PrintRequest_DropFileDir" value="\\ecomad.int\webdfsstage\RightProspectus\Workfiles\InternalDocuments\PrintRequests\RPV2\ClientName\" />
    <!-- END : Request Material Print Request Config settings-->
 <add key="FindUserAllDomains" value="true" />
     <add key="UserDomains" value="na.ad.rrd.com,as.ad.rrd.com" />
    <add key="SMTP" value="mail.prospectuscentral.com"/>
    <add key="FindUserAllDomains" value="true" />
    <add key="DateFormat" value="dd-MMM-yyyy" />
    <add key="HostedEngineURL" value="http://localhost:54346/" />

  </appSettings>
  <connectionStrings>
    <add name="SystemDB" connectionString="Server=acwin-sqlt01.ecomad.int\SQL001;Database=RPV2SystemDB;Trusted_Connection=True;" />
    <add name="ClientDBInstance1" connectionString="Server=acwin-sqlt01.ecomad.int\SQL001;Database=#DBName#;Trusted_Connection=True;" />
    <add name="USVerticalMarketDBInstance" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=acwin-sqlt01.ecomad.int\;Initial Catalog=#DBName#" />
  </connectionStrings>
  <unity>
    <container>

      <register type="RRD.DSA.Core.DAL.IDataAccess, RRD.DSA.Core" mapTo="RRD.DSA.Core.DAL.DataAccess, RRD.DSA.Core" />
      <register type="RRD.FSG.RP.Model.Interfaces.System.ISystemCommonFactory, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.System.SystemCommonFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="paramDataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register type="RRD.FSG.RP.Model.Interfaces.VerticalMarket.IHostedVerticalPageScenariosFactory, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.VerticalMarket.HostedVerticalBasePageScenariosFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="paramDataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      <register type="RRD.FSG.RP.Model.Interfaces.HostedPages.IHostedClientPageScenariosFactory, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.HostedPages.HostedClientPageScenariosFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="paramDataAccess">
            <dependency />
          </param>
          <param name="paramHostedVerticalPageScenarios">
            <dependency />
          </param>
          <param name="paramSystemCommonFactory">
            <dependency />
          </param>
        </constructor>
      </register>


      <register type="RRD.FSG.RP.Model.Interfaces.HostedPages.IHostedClientRequestMaterialFactory, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.HostedPages.HostedClientRequestMaterialFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="paramDataAccess">
            <dependency />
          </param>
          <param name="paramHostedVerticalPageScenarios">
            <dependency />
          </param>
          <param name="paramSystemCommonFactory">
            <dependency />
          </param>
        </constructor>
      </register>


      <register name="SiteActivity" type="RRD.FSG.RP.Model.Interfaces.IFactory`2, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.Client.SiteActivityFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="Client" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.ClientFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="UrlRewrite" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.UrlRewriteFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>


      <register name="ClientDocumentType" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.ClientDocumentTypeFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="Client" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.ClientFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>



      <register name="VerticalMarket" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.VerticalMarketsFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="Users" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.UserFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>


      <register name="SiteText" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.SiteTextFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>


      <register name="Site" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.SiteFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="CUDHistory" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.CUDHistoryFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="PageNavigation" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.PageNavigationFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="PageText" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.PageTextFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>


      <register name="TemplatePage" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplatePageFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="TemplatePageFeature" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplatePageFeatureFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="TemplateText" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplateTextFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>


      <register name="TemplatePageText" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplatePageTextFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      <register name="TemplateNavigation" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplateNavigationFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="TemplatePageNavigation" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplatePageNavigationFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="DocumentTypeExternalID" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.DocumentTypeExternalIdFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="StaticResource" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.StaticResourceFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      <register name="PageFeature" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.PageFeatureFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="Role" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.RolesFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>


      <register name="TaxonomyLevelExternalId" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.TaxonomyLevelExternalIdFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="UrlRewrite" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.UrlRewriteFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="SiteNavigation" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.SiteNavigationFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="ReportSchedule" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.ReportScheduleFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <!--<register name="TemplateSiteNavigation" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.SiteNavigationFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>-->

      <register name="Taxonomy" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.VerticalMarket.TaxonomyFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="ClientDocument" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.ClientDocumentFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      <register name="SiteFeature" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.SiteFeatureFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="DocumentType" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.VerticalMarket.DocumentTypeFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="VerticalXmlImport" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.VerticalXmlImportFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="VerticalXmlImportFactory" type="RRD.FSG.RP.Model.Interfaces.IFactory`2, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.Client.VerticalXmlImportFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="VerticalXmlExport" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.VerticalXmlExportFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="VerticalXmlExportFactory" type="RRD.FSG.RP.Model.Interfaces.IFactory`2, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.Client.VerticalXmlExportFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="TemplateFeature" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplateFeatureFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

    </container>
  </unity>  
</configuration>