<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDocumentOnboardContract" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rrwin-pcent02.fincoec.com:8000/RPDocumentBoarding/service"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentOnboardContract"
        contract="DocumentBoardingService.IDocumentOnboardContract"
        name="BasicHttpBinding_IDocumentOnboardContract" />
    </client>
  </system.serviceModel>
</configuration>