<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="RPV2GlobalPolicy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="GenericErrorLogHandler" type="RRD.FSG.RP.Web.UI.Hosted.ErrorLogHandler, RRD.FSG.RP.Web.UI.Hosted" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <appSettings>
    <add key="SystemDBCacheTimeOut" value="7200" />
    <add key="ClientDBCacheTimeOut" value="7200" />
    <!--authentication mode switch-set true for Forms Authentication , set false for Windows authentication-->
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="toolsUrl" value="http://tools-stage.rightprospectus.com/Viewer/LoadDocument.aspx?pdfURL=" />
    <add key="HTTPStoolsUrl" value="http://tools-stage.rightprospectus.com/Viewer/LoadDocument.aspx?pdfURL=" />
    <add key="XBRLViewerURL" value="http://xbrlviewer-stage.rightprospectus.com/Viewer.aspx?id=" />
    <add key="HTTPSXBRLViewerURL" value="https://xbrlviewer-stage.rightprospectus.com/Viewer.aspx?id=" />
    <add key="XBRLDocumentBaseURL" value=" http://fundcompli-stage.rightprospectus.com/documents" />
    <add key="HTTPSXBRLDocumentBaseURL" value="https://fundcompli-stage.rightprospectus.com/documents" />
    <add key="FormN-MFP_SECUrl" value="http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&amp;CIK=CIKVALUE&amp;type=N-MFP&amp;dateb=&amp;count=20&amp;scd=filings" />
    <add key="hostedBaseUrl" value="localhost"/>
    <add key="SMTP" value="mail.rrd.com"/>
    <add key="RequestMaterialEmailFrom" value="fundcomplidocuments@prospectuscentral.com"/>
    <add key="HostedEngineURL" value="http://localhost:54346/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <trace enabled="true" pageOutput="true" requestLimit="40" localOnly="false"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="SiteText" verb="*" path="SiteTextHandler.ashx" type="RRD.FSG.RP.Web.UI.Hosted.SiteTextHandler, RRD.FSG.RP.Web.UI.Hosted" />
      <add name="PageText" verb="*" path="PageTextHandler.ashx" type="RRD.FSG.RP.Web.UI.Hosted.PageTextHandler, RRD.FSG.RP.Web.UI.Hosted" />
    </handlers>
    <modules>
      <add name="StaticResourceModule" type="RRD.FSG.RP.Web.UI.Hosted.StaticResourceModule, RRD.FSG.RP.Web.UI.Hosted" />
      <add name="ClientDocumentModule" type="RRD.FSG.RP.Web.UI.Hosted.ClientDocumentModule, RRD.FSG.RP.Web.UI.Hosted" />
      <add name="URLRewriteModule" type="RRD.FSG.RP.Web.UI.Hosted.URLRewriteModule, RRD.FSG.RP.Web.UI.Hosted" />
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="SystemDB" connectionString="Server=10.234.206.230;Database=RPV2SystemDB;Trusted_Connection=True;" />
    <add name="ClientDBInstance1" connectionString="Server=10.234.206.230;Database=#DBName#;Trusted_Connection=True;" />
    <add name="USVerticalMarketDBInstance" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=10.234.206.230;Initial Catalog=#DBName#" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.0.414.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- _______________________________UNIT CONFIGURATION_______________________________BEGIN -->
  <unity>
    <container>

      <register type="RRD.DSA.Core.DAL.IDataAccess, RRD.DSA.Core" mapTo="RRD.DSA.Core.DAL.DataAccess, RRD.DSA.Core" />
      <register type="RRD.FSG.RP.Model.Interfaces.System.ISystemCommonFactory, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.System.SystemCommonFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="paramDataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register type="RRD.FSG.RP.Model.Interfaces.VerticalMarket.IHostedVerticalPageScenariosFactory, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.VerticalMarket.HostedVerticalBasePageScenariosFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="paramDataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      
      <register type="RRD.FSG.RP.Model.Interfaces.HostedPages.IHostedClientPageScenariosFactory, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.HostedPages.HostedClientPageScenariosFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="paramDataAccess">
            <dependency />
          </param>
          <param name="paramHostedVerticalPageScenarios">
            <dependency />
          </param>
          <param name="paramSystemCommonFactory">
            <dependency />
          </param>
        </constructor>
      </register>
      
      

      <register type="RRD.FSG.RP.Model.Interfaces.HostedPages.IHostedClientRequestMaterialFactory, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.HostedPages.HostedClientRequestMaterialFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="paramDataAccess">
            <dependency />
          </param>
          <param name="paramHostedVerticalPageScenarios">
            <dependency />
          </param>
          <param name="paramSystemCommonFactory">
            <dependency />
          </param>
        </constructor>
      </register>
          

      <register name="SiteActivity" type="RRD.FSG.RP.Model.Interfaces.IFactory`2, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.Client.SiteActivityFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      
      <register name="Client" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.ClientFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="UrlRewrite" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.UrlRewriteFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="Site" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.SiteFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      
    </container>
  </unity>
  <!-- _______________________________UNIT CONFIGURATION_________________________________END -->
</configuration>