<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-BCSDocUpdateApprovalV2-20160920044724.mdf;Initial Catalog=aspnet-BCSDocUpdateApprovalV2-20160920044724;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DB1029Connection" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=10.79.66.137\SQL003;Initial Catalog=db1029"/>
    <add name="ReadOnlyDB1029Connection" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=FWTAXD-SQLT001.fincoad.com\SQL003;Initial Catalog=db1029"/>
     <add name="HostedAdminConnection" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=10.79.66.137\SQL003;Initial Catalog=hostedadmin"/>
    <add name="SystemDB" connectionString="Server=10.234.206.230;Database=RPV2SystemDB;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TokenExpiryTime" value="30" /> <!--30 Minutes -->
    
    <!--Chilkat encryption-->
    <add key="ChilkatUnlockKey" value="RRDONNCrypt_PeLFyqRPVCEW"/>
    <add key="SSOEncodedSecretKey" value="Jx4SWKRd3WDvT9hW"/>
    <add key="SSOCryptAlgorithm" value="aes"/>
    <add key="SSOCipherMode" value="ecb"/>
    <add key="SSOEncodingMode" value="Hex"/>
    <add key="SSOIV" value="08090A0B0C0D0E0F"/>
    
    <add key="Application" value="BCSDasboard"/>
    <add key="CompleteRegistration" value="http://localhost:64310/index.html#/CompleteRegistration"/>
    <add key="EmailFrom" value="rrd.cod@wipro.com"/>
    
    <!--REPORTS-->
    <add key="BCSTRowePriceFLTFTPArchiveDocumentPath" value="\\ecomad.int\webdfstest\RightProspectus\WorkFiles\WebDocuments\BCSTRowePriceFLTFTPArchive\"/>
    <add key="BCSTRowePriceFLTFTPArchiveDocumentPathURL" value="http://rightprospectus-test.rightprospectus.com/documents/BCSTRowePriceFLTFTPArchive/"/>


    <add key="watchListTransamericaDocumentPath" value="D:\BCSRRD\BCSTRACUSIPWatchListArchive"/>
    <add key="filteredIpTransamericaDocumentPath" value="D:\BCSRRD\AEG"/>

    <add key="watchListAllianceBernsteinDocumentPath" value="\\fincoec.com\webdfsTest\RightProspectus\WorkFiles\WebDocuments\BCSABCUSIPWatchListArchive"/>
    <add key="filteredIpAllianceBernsteinDocumentPath" value="D:\BCSRRD\AB"/>

    <add key="docUpdateDocumentPath" value="D:\BCSRRD\DocUpdate"/>
    <add key="CustomerDocUPDTPathGMS" value="D:\BCSRRD\GMS"/>

    <add key="EdgarOnlineFeedPath" value="D:\EdgarOnline\TEST"/>
    
    <add key="RPSourceURLReplace" value="\\ecomad.int\webdfsStage\RightProspectus\Workfiles\WebDocuments\"/>
    <add key="RPDestinationSANReplace" value="http://www.rightprospectus.com/documents/"/>
    <add key="RPBCSSANPath" value="\\ecomad.int\webdfstest\RightProspectus\Workfiles\WebDocuments\BCSRRD\"/>
    <add key="RPDestinationURLReplace" value="http://rightprospectus-test.rightprospectus.com/documents/BCSRRD/"/>
    <add key="BCSTRPFLTArchiveDropPath" value="\\ecomad.int\webdfstest\RightProspectus\Workfiles\WebDocuments\BCSTRowePriceFLTFTPArchive\FLTArchive\"/>
    <add key="BCSTRPFLTDocArchiveDropPath" value="\\ecomad.int\webdfstest\RightProspectus\Workfiles\WebDocuments\BCSTRowePriceFLTFTPArchive\FTPDocumentArchive\"/>

    <!--Fullfillment Info-->
    <add key="FullfillmentInfoGIM" value="D:\TEST\FullfillmentDocs_GIM"/>
    <add key="FullfillmentInfoGMS" value="D:\TEST\FullfillmentDocs_GMS"/>
    <add key="FullfillmentInfoTransamerica" value="D:\TEST\FullfillmentDocs_Transamerica\"/>
    <add key="FullfillmentInfoAllianceBernstein" value="D:\TEST\FullfillmentDocs_AllianceBernstein\"/>


    <!--Account Settings-->
    <add key="MaxFailedAttempts" value="3"/>
    <add key="AccountLockOutTime" value="30"/> <!--In minutes-->
    
    <!--Email Settings-->

    <add key="EmailFrom" value="support@prospectuscentral.com"/>
    <add key="SMTP" value="mail.rrd.com"/>

    <add key="HostedURL" value="http://localhost:64310"/>
    
    
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>