<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTP" value="mail.rrd.com" />
    <add key="From" value="RPTest@rrd.com" />
    <add key="SourceFolder" value="C:\Temp\TestAutomation\"/>
    <add key="URLSheetName" value="URLs"/>
    <add key="ConfigSheetName" value="Config"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>