<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="RPV2GlobalPolicy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="GenericErrorLogHandler" type="RRD.FSG.RP.Web.UI.HostedAdmin.ErrorLogHandler, RRD.FSG.RP.Web.UI.HostedAdmin" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <appSettings>
    <add key="SystemDBCacheTimeOut" value="7200" />
    <add key="ClientDBCacheTimeOut" value="7200" />
    <add key="DateFormat" value="dd-MMM-yyyy" />
    <add key="HostedEngineURL" value="http://localhost:54346/" />
    <add key="HTTPSHostedEngineURL" value="https://localhost:54346/" />
    <!--authentication mode switch-set true for Forms Authentication , set false for Windows authentication-->
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="toolsUrl" value="http://tools-stage.rightprospectus.com/Viewer/LoadDocument.aspx?pdfURL=" />
    <!--AD Search Settings-->
    <add key="FindUserAllDomains" value="true" />
    <add key="UserDomains" value="na.ad.rrd.com,as.ad.rrd.com" /><!--"as.ad.rrd.com,na.ad.rrd.com" "wipro.com"-->
    <add key="SessionTimeOutMinutes" value="120" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=acwin-sqlt01.ecomad.int\sql003;Initial Catalog=db1029;User ID=dba1029;Password=grq9spdb"  timeout="120" />
    <!--authentication mode switch-set None for Forms Authentication , set Windows for Windows authentication-->
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="SiteText" verb="*" path="SiteTextHandler.ashx" type="RRD.FSG.RP.Web.UI.Hosted.SiteTextHandler, RRD.FSG.RP.Web.UI.Hosted" />
    </handlers>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".woff2" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
  <connectionStrings>
    <!--<add name="SystemDB" connectionString="Server=CHEFBU-MWE-SQL8.na.ad.rrd.com;Database=RPV2SystemDB;Trusted_Connection=True;" />
    <add name="ClientDBInstance1" connectionString="Server=CHEFBU-MWE-SQL8.na.ad.rrd.com;Database=#DBName#;Trusted_Connection=True;" />-->
    <add name="SystemDB" connectionString="Server=10.234.206.230;Database=RPV2SystemDB;Trusted_Connection=True;" />
    <add name="ClientDBInstance1" connectionString="Server=10.234.206.230;Database=#DBName#;Trusted_Connection=True;" />
    <add name="USVerticalMarketDBInstance" connectionString="Server=10.234.206.230;Database=#DBName#;Trusted_Connection=True;" /> <!--RPV2USDB-->
    <!--<add name="USVerticalMarketDBInstance" connectionString="Password=grq9spdb;Persist Security Info=True;User ID=dba1029;Data Source=CHEFBU-MWE-SQL8.na.ad.rrd.com;Initial Catalog=#DBName#" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.0.414.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- _______________________________UNIT CONFIGURATION_______________________________BEGIN -->
  <unity>
    <container>

      <register type="RRD.DSA.Core.DAL.IDataAccess, RRD.DSA.Core" mapTo="RRD.DSA.Core.DAL.DataAccess, RRD.DSA.Core" />
      <register type="RRD.FSG.RP.Model.Interfaces.System.ISystemCommonFactory, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.System.SystemCommonFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="paramDataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      <register name="ClientDocumentType" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.ClientDocumentTypeFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="Client" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.ClientFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
     

   
      <register name="VerticalMarket" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.VerticalMarketsFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="Users" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.UserFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      
      
      <register name="SiteText" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.SiteTextFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>


      <register name="Site" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.SiteFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      
     <register name="TaxonomyAssociation" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TaxonomyAssociationFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      
       <register name="CUDHistory" type="RRD.FSG.RP.Model.Interfaces.IFactory`2, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.Client.CUDHistoryFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

       <register name="PageNavigation" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.PageNavigationFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register> 
            
      <register name="PageText" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.PageTextFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      
      
      <register name="TemplatePage" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplatePageFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      
       <register name="TemplatePageFeature" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplatePageFeatureFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      
      <register name="TemplateText" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplateTextFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      
            
      <register name="TemplatePageText" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplatePageTextFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
   <register name="TemplateNavigation" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplateNavigationFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

   <register name="TemplatePageNavigation" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplatePageNavigationFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="DocumentTypeExternalID" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.DocumentTypeExternalIdFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="StaticResource" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.StaticResourceFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      <register name="PageFeature" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.PageFeatureFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="Role" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.RolesFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>


      <register name="TaxonomyLevelExternalId" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.TaxonomyLevelExternalIdFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="UrlRewrite" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.UrlRewriteFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="SiteNavigation" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.SiteNavigationFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="ReportSchedule" type="RRD.FSG.RP.Model.Interfaces.IFactory`2, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.System.ReportScheduleFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

     <!--<register name="TemplateSiteNavigation" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.SiteNavigationFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>-->
      
      <register name="Taxonomy" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.VerticalMarket.TaxonomyFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="ClientDocument" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.ClientDocumentFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      <register name="SiteFeature" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.SiteFeatureFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="DocumentType" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.VerticalMarket.DocumentTypeFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="VerticalXmlImport" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.VerticalXmlImportFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="VerticalXmlImportFactory" type="RRD.FSG.RP.Model.Interfaces.IFactory`2, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.Client.VerticalXmlImportFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      
      <register name="VerticalXmlExport" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.VerticalXmlExportFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="VerticalXmlExportFactory" type="RRD.FSG.RP.Model.Interfaces.IFactory`2, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.Client.VerticalXmlExportFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="TemplateFeature" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.System.TemplateFeatureFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>
      
      <register name="ApproveProofingFactory" type="RRD.FSG.RP.Model.Interfaces.IFactory`2, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.Client.ApproveProofingFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="ErrorLogFactory" type="RRD.FSG.RP.Model.Interfaces.IFactory`2, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.ErrorLogFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

     <register name="ClientDocumentGroup" type="RRD.FSG.RP.Model.Cache.Interfaces.IFactoryCache`3, RRD.FSG.RP.Model.Cache" mapTo="RRD.FSG.RP.Model.Cache.Client.ClientDocumentGroupFactoryCache, RRD.FSG.RP.Model.Cache">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="TaxonomyAssociationFactory" type="RRD.FSG.RP.Model.Interfaces.IFactory`2, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.Client.TaxonomyAssociationFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register name="DocumentTypeAssociationFactory" type="RRD.FSG.RP.Model.Interfaces.IFactory`2, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.Client.DocumentTypeAssociationFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="dataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <!--harsh add-->
      

      <register type="RRD.FSG.RP.Model.Interfaces.VerticalMarket.IHostedVerticalPageScenariosFactory, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.VerticalMarket.HostedVerticalBasePageScenariosFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="paramDataAccess">
            <dependency />
          </param>
        </constructor>
      </register>

      <register type="RRD.FSG.RP.Model.Interfaces.HostedPages.IHostedClientPageScenariosFactory, RRD.FSG.RP.Model" mapTo="RRD.FSG.RP.Model.Factories.HostedPages.HostedClientPageScenariosFactory, RRD.FSG.RP.Model">
        <constructor>
          <param name="paramDataAccess">
            <dependency />
          </param>
          <param name="paramHostedVerticalPageScenarios">
            <dependency />
          </param>
          <param name="paramSystemCommonFactory">
            <dependency />
          </param>
        </constructor>
      </register>



    </container>
  </unity>
  <!-- _______________________________UNIT CONFIGURATION_________________________________END -->
</configuration>