<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Start : Request Material Print Request Config settings-->
    <add key="PrintRequest_Environment" value="Stage"/>
    <add key="PrintRequest_DropFileDir" value="D:\TEST\ClientName" />
    <!-- END : Request Material Print Request Config settings-->

    <add key="SMTP" value="mail.rrd.com"/>
    <add key="AddDelayForDebug" value="5000"/>
    <add key="maxProcessAttempts" value="1"/>
    <add key="maxThreads" value="1"/>
    <add key="OutputPath" value="D:\TEST\"/>
    <add key="CleanupTimerInterval" value="600000"/>
    <add key="DeleteFilesOlderThanDays" value="1"/>
    <add key="TimerInterval" value="5000"/>
    <add key="ThreadJoinWaitIntervalMS" value="5000"/>
    <add key="WorkerThreadTimeOutMilliseconds" value="10800000"/>
    <add key="WorkerThreadMaxWaitTime" value="180000"/>
    <add key="ReportContentEmailFrom" value="alex.xavier@rrd.com"/>
    <add key="PrintRequest_LogFileDir" value=""/>
    <add key="RequestMaterialEmailFrom" value=""/>
    <add key="ErrorEmailTo" value=""/>
    <add key="EmailFrom" value="alex.xavier@rrd.com"/>

  </appSettings>

</configuration>