@using RRD.FSG.RP.Web.UI.Hosted
<link href="@(((BaseViewModel)Model).BaseURL)PageTextHandler.ashx?ClientName=@(((BaseViewModel)Model).ClientName)&SiteName=@(((BaseViewModel)Model).SiteName)&Key=@(((BaseViewModel)Model).PageCSSResourceKey)&IsProofing=@(((BaseViewModel)Model).IsProofing)&PageId=@(((BaseViewModel)Model).PageId)" rel="stylesheet" media="all" />

<div class="cssXBRLMainDiv">
    <div class="cssHeaderTable">
        <div class="cssHeaderTableRow">
            <div class="cssHeaderTableCell cssClientLogoPlaceHolder">
                <div class="cssClientLogo">@(Html.Raw(HttpUtility.HtmlDecode(((BaseViewModel)Model).LogoText)))</div>
            </div>
            <div class="cssHeaderTableCell cssXBRLFundName">
                @(Html.Raw(HttpUtility.HtmlDecode(((XBRLViewModel)Model).FundName)))
            </div>
        </div>
    </div>
    <div id="divXBRLContent" class="cssXBRLContentDiv">
        @Html.Partial("~/Views/Hosted/XBRLContentT1.cshtml", ((XBRLViewModel)Model))
    </div>
</div>
