
<div id="main" class="container body-content" ng-hide="hideDiv">
    <div class="row">
        <div class="col-lg-12">


            <p>
                You are on the Home Page of BCS Dashboard. Please select a Client that you would like to configure..
                <br />
                <br />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Select Client<span class="mandatoryAsterisk">*</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
         
            <select ng-model="SelectedClient" required class="form-control" ng-options="item for item in ClientData">
                <option value="">Select Client</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <input type="submit" value="Submit" class="btn btn-default" ng-click="Submit()" />
        </div>
    </div>


</div>