@using RRD.FSG.RP.Web.UI.Hosted;
<link href="@(((BaseViewModel)Model).BaseURL)PageTextHandler.ashx?ClientName=@(((BaseViewModel)Model).ClientName)&SiteName=@(((BaseViewModel)Model).SiteName)&Key=@(((BaseViewModel)Model).PageCSSResourceKey)&IsProofing=@(((BaseViewModel)Model).IsProofing)&PageId=@(((BaseViewModel)Model).PageId)" rel="stylesheet" media="all" />  
<html>
<body class="cssTADFBody">
    <div class="cssTADFMainDiv">
        <div class="cssHeaderTable">
            <div class="cssHeaderTableRow">
                <div class="cssHeaderTableCell cssClientLogoPlaceHolder">
                    <div class="cssClientLogo">@(Html.Raw(System.Web.HttpUtility.HtmlDecode(((BaseViewModel)Model).LogoText)))</div>
                </div>
            </div>
        </div>

        <div class="cssDocumentNotAvailableItemDiv">
            <div class="cssDocumentNotAvailableTextDiv">@(Html.Raw(System.Web.HttpUtility.HtmlDecode(((BaseViewModel)Model).DocumentNotAvailableText)))</div>
            <div class="cssDocumentNotAvailableGoBackButtonDiv">
                <input type="submit" name="btnGoBack" value="Go Back" id="btnGoBack" onclick="window.history.back()">
            </div>
        </div>

    </div>
</body>
</html>